.aside {
  width: 250px;
  background-color: #f5f5f5;
  border-right: 1px solid #ddd;
  padding: 16px;
  height: calc(100vh - 119px);
  overflow-y: auto;
}

.treeContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.treeNode {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.nodeContent {
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nodeContent:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.children {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.textContent {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
